#center-section{
    margin:auto;
    width:350px;
}

#main-section{
    margin-top: 10px;
}

.spacing-base{
    margin-bottom: 14px;
}

.box .box-container{
    border-radius: 4px;
    position: relative;
    padding: 14px 18px;
}

.border{
    display:block;
    border-radius: 4px;
    border: 55rem black;
    background-color: "white";
}

h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    padding:20px;
    margin: 0;
}

input {
    transition: all 100ms linear;
    line-height: 19px;
    color: black;
    vertical-align: middle;
}

label {
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}